includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests  # Exclude specific files
        - src/TestSuite
    checkMissingIterableValueType: false
